.home-container {
  display: flex;
  /* background-color: #000317; */
  justify-content: center;
  align-items: center;
}
.movie-img {
  border-radius: 12px;
  width: 200px;
}
.list {
  width: 658px;
  display: flex;
  flex-direction: column;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-image: linear-gradient(to bottom, rgb(0 11 75 / 72%), rgb(26 0 43)),
    url(https://i.gadgets360cdn.com/products/large/dune-1200x1779-1633607256036.jpg);
  border-radius: 12px;
  box-shadow: 1px 1px 4px 1px #ffffff2b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0.5rem;
}
.item-title {
  color: #fff;
  font-size: 30px;
  margin: 0;
  font-weight: 800;
}
.item-discription {
  color: #fff;
  width: 80%;
}
.rating-text {
  color: #fff;
}
.stars-container {
  background-color: rgb(255 255 255);
  border-radius: 12px;
  padding: 3px;
}
.movie-info {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto auto auto 50px;
  justify-content: center;
}
.form-style {
  width: 500px;
}
.formItem {
  margin: 15px auto;
}
@media only screen and (max-width: 600px) {
  .movie-img {
    width: 100px;
  }
  .item-title {
    font-size: 25px;
  }
}
